<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>150574670250-25qv49lkiiq7rvek8ivtr778br7poi6b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.150574670250-25qv49lkiiq7rvek8ivtr778br7poi6b</string>
	<key>API_KEY</key>
	<string>AIzaSyDgty1JDF2U0QGdrrQF6lbmdT1I3S8kjiY</string>
	<key>GCM_SENDER_ID</key>
	<string>150574670250</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdullahiqbal.dalitask</string>
	<key>PROJECT_ID</key>
	<string>darood-app-84a5f</string>
	<key>STORAGE_BUCKET</key>
	<string>darood-app-84a5f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:150574670250:ios:e6aba5f8ead85628d5cbd3</string>
	<key>DATABASE_URL</key>
	<string>https://darood-app-84a5f-default-rtdb.firebaseio.com</string>
</dict>
</plist>